header {
    height: 80vh;
    background-image: url("../images/home_bg.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
    background-color: #fff;
    -webkit-box-shadow: 0px 8px 7px 3px rgba(63, 64, 64, 0.91);
    box-shadow: 0px 8px 7px 3px rgba(63, 64, 64, 0.91);
}

ul#htu-menu {
    display: flex;
}

ul#htu-menu li {
    display: flex;
    align-items: center;
    margin-right: 1rem;
    padding-right: 1rem;
    border-right: 1px solid gray;
}

ul#htu-menu li:last-child {
    border-right: none;
}

ul#htu-menu a {
    text-decoration: none;
    color: #3f4040;
    font-size: 1.4rem;
    transition: opacity .5s;
}

ul#htu-menu a:hover {
    opacity: .7;
}

.has-sub-menu {
    position: relative;

}

ul#htu-menu .sub-menu li {
    border-right: none;
    margin: 0;
    padding: 0;
}

ul#htu-menu .sub-menu {
    display: none;
    position: absolute;

}

ul#htu-menu .has-sub-menu:hover .sub-menu {
    display: block;
    left: -10px;
    top: 50px;
    background-color: #f3f3f3;
    -webkit-box-shadow: 0px 0px 7px 2px rgb(63 64 64 / 91%);
    box-shadow: 0px 0px 7px 2px rgb(63 64 64 / 91%);
    padding: 1rem;
    width: 200%;
}

#htu-hero-wrapper {
    height: 100%;
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#htu-hero {
    background-color: #ffffffd6;
    height: 20%;
    width: 45%;
    -webkit-box-shadow: 0px 0px 16px 15px rgba(63, 64, 64, 0.80);
    box-shadow: 0px 0px 16px 15px rgba(63, 64, 64, 0.80);
    border-radius: 15px;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#htu-hero h1,
#htu-hero p {
    margin: 0;
}

#htu-hero h1 {
    font-size: 3.2rem;
}

#htu-hero p {
    font-size: 1.1rem;
    text-transform: capitalize;
    letter-spacing: 3px;
}

#htu-search {
    margin-top: 1rem;
    width: 100%;
    display: flex;
    justify-content: center;
}

#htu-search label {
    display: none;
}

#htu-search input {
    width: 90%;
    font-size: 1rem;
    padding: .5rem;
    border-radius: 10px;
    border: 1px solid #808080d4;
}

#htu-search button {
    border: none;
    background-color: transparent;
    margin-left: -7%;
}

#htu-search button:hover {
    opacity: .7;
    cursor: pointer;
}

#htu-search button i {
    font-size: 120%;
}