body {
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
}

.active {
    /* text-decoration: underline; */
}

footer {
    background-color: #4d4949;
    color: #f8f8f8f8;
    padding: 1rem;
}

footer p {
    text-align: center;
}